@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@300;400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;

    font-family: 'Roboto', sans-serif;
}
header {
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;

    margin: 10px 20px;
}
.input {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header input {
    width: 75%;
    height: 50px;
    border-radius: 17px 0 0 17px;
    border: 2px grey solid;

    padding-left: 20px;
    margin: 0;

    font-size: 24px;
    outline: none;
}

.header button {
    margin: 0;
    border-radius: 0 17px 17px 0;
    border: 2px grey solid;
    border-left: none;
    height: 50px;
    width: 25%;
}

#countryContainer {
    width: 700px;
    height: 300px;

    margin: 50px 0;
}

article {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 300px;
    border: 2px grey solid;
    border-radius: 17px ;
    position: relative;
}

.countrySection {
    position: absolute; 
    top: -23px;

    border-radius: 29px;
    border: 2px grey solid;
    background: #fff;

    padding: 5px 20px;
}

#country {
    font-size: 30px;
}

table {
    width: 90%;

    border-spacing: 10px;
}

.tableHeading { 
    font-weight: 700;
    font-size: 24px;
}

table td {
    text-align: center;
}