@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
    --light-blue: #E1EFFF;
    --light-blue-hover: #c5e0ff;
    --blue:#7EBAFF;
    --dark-blue: #617FA2;
    --font-color: rgb(83, 83, 83);
    
    --red: rgb(216, 113, 108);
    --green: rgb(121, 200, 97);
    
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    
    font-family: 'Roboto', sans-serif;
    color: var(--font-color);
    
}

p {
    margin: 0;
}

.wrapper { 
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header {
    width: 100%;
    font-family: 'bebas Neue', cursive;
    
    padding: 10px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    background: var(--light-blue);
}
header h1 { 
    font-size: 12vw;
    color: var(--blue);
    margin: 0;
}

#country {
    color: var(--dark-blue);
    font-weight: 700;
}

article { 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*container content*/
.container {
    margin: 0;
    padding: 0;
    max-width:none;
    width: 80%;
    
    font-size: 16px;
}

.row {
    padding: 0;
    margin: 0;
}

.container > .row {
    margin: 0 10px;
}

.container > .row > .row {
    height: 64px;
}
.container .row:first-child .row:nth-child(odd) {
    background: var(--light-blue);
}

.container > .row > .row > div {
    display: flex;
    align-items: center;
}

.container > .row > .row > div:last-child > p {
    text-align: right;
    width: 100%;
}


.tableHeading { 
    font-weight: 700;
    font-size: 20px;
}

.tableHeading span {
    color: black;
    font-size: 18px;
    font-weight: 500;
}

.input {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    
    margin-bottom: 4vh;
}
.header input {
    width: 70%;
    height: 50px;
    border-radius: 12px 0 0 12px;
    border: 2px solid var(--light-blue);
    color: var(--dark-blue);
    
    
    padding-left: 20px;
    margin: 0;
    
    font-size: 20px;
    outline: none;
}

.header button {
    margin: 0;
    border-radius: 0 12px 12px 0;
    height: 50px;
    width: 30%;
    border: none;
    background: var(--light-blue);
    color: var(--dark-blue);
}

.header button:hover {
    background: var(--light-blue-hover);
    transition: all 0.25s ease-in-out;
}
#subCountryBox{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    
    margin: 55px 0;
    
}

.subCountry {
    width: 100%;
    border: solid 2px var(--light-blue);
    
    justify-self: center;
}

.subCountry > h3 {
    display: flex;
    align-items: center;
    font-size: 12px;
    align-content: center;
    height: 50px;
    text-align: center;

    text-transform: uppercase;
    font-weight: 700;
    
}
.subCountry > div {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 5px;
    
}

.subCountry > div:nth-child(even) {
    background: var(--light-blue);
}

#errorMessage {
    visibility: hidden;
    color: #fff;
    text-align: center;
    width: 80%;
    margin: 5px 0;
    border-radius: 5px;
}
#errorMessage.error {
    background:hsl(0, 100%, 27%);
    visibility: visible;
    transition: background 0.25s ease-in-out;
}

.red {
    color: var(--red);
}
.green {
    color: var(--green);
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;

    background: #fff;
    width: 100%;
    height: 20px;
    text-align: center;
}

@media (min-width: 768px) {
    
    
    header { 
        left: 20px;
        top: -17px;
        width: auto;
        background: none;
        padding-top: 30px;
    }
    
    header h1 {
        font-size: 77px;
    }
    .wrapper { 
        display: flex;
        width: 80%;
        margin-top: 15vh;
    }
    .input {
        width: 100%;
    }
    
    
    .header {
        width: 85%;
        margin-bottom: 60px;
    }
    .header input {
        width: 75%;
        height: 50px;
        
        padding-left: 20px;
        margin: 0;
        
        font-size: 24px;
        outline: none;
    }
    
    .header button {
        margin: 0;
        border-radius: 0 17px 17px 0;
        height: 50px;
        width: 25%;
        border: none;
    }
    
    #countryContainer {
        width: 85%;
        border-bottom: 2px solid var(--dark-blue);
        padding-bottom: 49px;   
        border-top: solid 2px var(--dark-blue);
    }

    .subCountry > h3 {
        font-size: 15px;
    }
    
    
    article {
        display: flex;
        align-items: center;
        justify-content: center;
        
        height: 165px;
        
        position: relative;
    }
    
    .countrySection {
        position: relative; 
        left: 20px;
        top: -17px;
        align-self: flex-start;
        background: #fff;
        
        padding: 5px 20px;
    }
    
    #country {
        font-size: 30px;
    }
    
    .container {
        width: 90%;
        border-spacing: 10px;
        
    }
    
    .container > .row > .row > div {
        display:block;
        align-items: center;
        z-index: 2;
    }
    
    .container > .row > .row > div > p{ 
        text-align: center;
    }
    
    .container > .row > .row > div:last-child > p {
        text-align: center;
        width: 100%;
    }
    
    .container .row:first-child .row:nth-child(odd),
    .container .row:last-child .row:nth-child(even) {
        background: none;
    }
    
    
    #subCountryBox{
        grid-template-columns: repeat(3, 1fr);
        width: 100%;

        grid-gap: 20px;

    }
    .subCountry > h3 {
        font-size: 15px;
    }
    
    .updated {
        position: absolute;
        margin: 10px;
        bottom: -53px;
        right: -3px;
    }
    
    .updated > p {
        margin: 0;
    }
    
    .error {
        top: -30px;
    }
}


@media (min-width: 1200px) {
    .wrapper {
        width: 60%;
    }
    
    #subCountryBox{
        grid-template-columns: repeat(4, 1fr);
        
        
    }

    .subCountry > h3 {
        font-size: 17px;
    }
    
}